/.DS_Store
__pycache__/utils.cpython-312.pyc
src/__pycache__/utils.cpython-312.pyc
src/__pycache__/utils.cpython-311.pyc
data/processeddota_matches.json
data/processed/dota_test.pt
data/processed/dota_val.pt
data/processed/dota_train.pt
src/__pycache__/heropicker.cpython-311.pyc
saved_models/heropicker_49epcs.pt
saved_models/heropicker_99epcs.pt
saved_models/heropicker_149epcs.pt
saved_models/heropicker_199epcs.pt
saved_models/heropicker_249epcs.pt
saved_models/heropicker_299epcs.pt
saved_models/heropicker_349epcs.pt
saved_models/heropicker_399epcs.pt
saved_models/heropicker_449epcs.pt
saved_models/heropicker_499epcs.pt
saved_models/heropicker_549epcs.pt
saved_models/heropicker_599epcs.pt
saved_models/heropicker_649epcs.pt
saved_models/heropicker_699epcs.pt
saved_models/heropicker_749epcs.pt
saved_models/heropicker_799epcs.pt
saved_models/heropicker_849epcs.pt
saved_models/heropicker_899epcs.pt
saved_models/heropicker_949epcs.pt
saved_models/heropicker_999epcs.pt
data/processed/dota_test_22.pt
data/processed/dota_test_23.pt
data/processed/dota_train_22.pt
data/processed/dota_train_23.pt
data/processed/dota_val_22.pt
data/processed/dota_val_23.pt
saved_models/heropicker_final_23_nonsense.pt
saved_models/heropicker_final_23.pt
src/__pycache__/heropicker.cpython-312.pyc
src/__pycache__/heropicker2.cpython-312.pyc
data/main_metadata_2022.csv
data/picks_bans_2022.csv
data/processed/dota_matches.json
data/processed/dota_matches.json
